name: Run script

on:
    workflow_dispatch:

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run hello script
        run: .github/scripts/hello.sh
        shell: bash