on:
  schedule:
    - cron: '*/5 * * * *'
  
jobs:
  test_schedule:
    name: test of schedule
    runs-on: ubuntu-latest
    steps:
      - name: Every five minute
        # if: github.event.schedule != '30 5 * * 1,3'
        run: echo "This step will be run every 5 minute git status. The current server time is $(date)"