name: Variables reading

on: 
    workflow_dispatch:
        inputs:
            mode:
                description: "Which variable do you wanna read?"
                type: choice
                options:
                    - env
                    - secret
                required: true
                default: "env"
jobs:
    check_variables:
        name: check variables
        runs-on: ubuntu-latest
        steps:
            - name: check variables
              run: env | sort
              
    read_variables:
        name: read variables
        runs-on: ubuntu-latest
        steps:
            - name: read env variables
              if: github.event.inputs.mode == 'env'
              run: | 
                echo "my baby name is ${{ vars.BABY }}"
     
    read_secrets:
        name: read secrets
        runs-on: ubuntu-latest
        steps:
            - name: read env secrets
              if: github.event.inputs.mode == 'secret'
              run: |
                echo ' my dog name is ${{ secrets.DOG }}'
                
        
