name: Variables reading

on: 
    workflow_dispatch:
        inputs:
            mode:
                description: "Which variable do you wanna read?"
                type: choice
                options:
                    - env
                    - secret
                required: true
                default: "env"
            print_env:
                description: 'github env'
                type: choice
                options:
                    - actor
                    - action
                required: true
                default: "actor"
jobs:

    print_an_env:
        name: print an env
        runs-on: ubuntu-latest
        steps:
            - name: 'print actor'
              if: github.event.inputs.print_env == 'actor'
              run: | 
                echo "actor: $GITHUB_ACTOR"
            - name: 'print action'
              if: github.event.inputs.print_env == 'action'
              run: | 
                echo "action: $GITHUB_ACTION"
                
    check_variables:
        name: check variables
        runs-on: ubuntu-latest
        steps:
            - name: check variables
              run: env | sort
              
    read_variables:
        name: read variables
        runs-on: ubuntu-latest
        steps:
            - name: read env variables
              if: github.event.inputs.mode == 'env'
              run: | 
                echo "my baby name is ${{ vars.BABY }}"
     
    read_secrets:
        name: read secrets
        runs-on: ubuntu-latest
        steps:
            - name: read env secrets
              if: github.event.inputs.mode == 'secret'
              run: |
                echo ' my dog name is ${{ env.ENV_DOG }}'
              env:
                ENV_DOG: ${{ secrets.DOG }}
    write_need_variables_run:
        name: check needs
        runs-on: ubuntu-latest
        needs: [read_variables]
        steps:
            - name: console success
              run: |
                echo "env reading was successful"
                
        
